<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <?php include('common/header_meta_global.inc') //メニュー読み込み ;?>

  <link rel="stylesheet" type="text/css" href="common/foundation.css" />
  <link rel="stylesheet" type="text/css" href="common/modaal.min.css" />
  <link rel="stylesheet" type="text/css" href="common/16bs.css" />
  <link rel="stylesheet" type="text/css" href="https://www.millet.jp/brand/common/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="common/base.css" />
  <link rel="stylesheet" type="text/css" href="common/project.css" />
  <link rel="stylesheet" type="text/css" href="common/fw.css" />
  <!-- common -->
  <link rel="stylesheet" type="text/css" href="common/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="common/hosokawa.css" />
  <!-- リセット用css -->
  <link rel="stylesheet" type="text/css" href="common/style.css">
  <link rel="stylesheet" type="text/css" href="common/reset.css" />
  <!-- ski2020CSS -->
  <link rel="stylesheet" type="text/css" href="common/ski2020.css" />
  <!-- ss21 -->
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/<%= data.cssName %>.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- common -->
  <script src="common/bootstrap.min.js"></script>
  <script src="common/common.js"></script>
  <script src="common/modaal.min.js"></script>
  <script src="common/modal.js"></script>
  <!-- tabSwitch -->
  <script src="js/tabSwitch.js"></script>

  <?php 
    /**
    * Get the HTTP(S) URL of the current page.
    *
    * @param $server The $_SERVER superglobals array.
    * @return string The URL.
    */
    function currentUrl($server){
      $http = 'http';
      if(isset($server['HTTPS'])){
        $http = 'https';
      }
      $host = $server['HTTP_HOST'];
      $requestUri = $server['REQUEST_URI'];
      return $http . '://' . htmlentities($host) . '/' . htmlentities($requestUri);
    }
    $url = currentUrl($_SERVER);
  ?>
  <title><%= data.title %></title>
</head>

<body>

  <?php include('common/header_nav_global.inc') //ヘッダー読み込み ;?>